@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/material-icons/iconfont/material-icons.css";

body {
    font-family: "Poppins", sans-serif;
}
.leaflet-control-container .leaflet-top .leaflet-control {
    display: none !important;
}

.leaflet-control-container .leaflet-left .leaflet-control-zoom {
    left: 1.5rem;
    bottom: 1.5rem;
}

.legend {
    right: 1.5rem;
    bottom: 1.5rem;
}

.tooltip-style {
    background-color: #fff;
    color: #333;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 640px) {
    .leaflet-control-container .leaflet-left .leaflet-control-zoom {
        left: 0.5rem;
        bottom: 0.5rem;
    }

    .legend {
        right: 0.5rem;
        bottom: 0.5rem;
    }
}
